body {
    background-color: white;
}
body::after {
    content: "";
    position: absolute;
    background: #f0f0f5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 16rem;
    z-index: -1;
}

#page-search-result {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-search-result header {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-search-result header a {
    display: flex;
    align-items: center;
    color: var(--title-color);
    font-weight: bold;
}   

#page-search-result header a span {
    margin-right: 6px;
    display: flex;
    background-image: url(../assets/arrow-left.svg);
    width: 20px;
    height: 22px;
}

main {
    margin-top: 48px;
}

main h4 {
    font-weight: normal;
    font-family: Roboto, sans-serif;
    
    margin-bottom: 32px;
}

main .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


main .cards img {
    width: 90%;
    height: 150px;
    border-radius: 8px 8px 0 0;
}

main .cards h1 {
    margin-top: 32px;
    margin-bottom: 24px;
}

main .cards h3 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;

    color: var(--primary-color);
}

main .cards p {
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;

    color: var(--title-color);
}